body
{
    margin: 0rem;
}

header
{
    background-color: #546e7a;
    box-shadow: 0rem .125rem .1875rem #000;
}

.logo
{
    display: inline;

    width: 10rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

ul.menu-options
{
    position: absolute;
    top: 1.8em;

    display: inline-block;

    list-style-type: none;

    color: #fff;
}

li
{
    font-size: 1rem
    text-align: center;

    display: inline-block;

    margin: .1em;
    padding: 1em;

    border: .0625em solid white;
}
