/* All pages */

header
{
    box-shadow: 0 .5625em 1.0625em 0 rgba(0,0,0,.2),0 .375em 1.25em 0 rgba(0,0,0,.19);
}

body
{
    margin: 0;

    background: url(../images/background.jpg) no-repeat center left fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

a
{
    text-decoration: none;

    color: #fff;
}

::selection
{
    background-color: rgba(204, 168, 78, .7);/* WebKit/Blink Browsers */
}
::-moz-selection
{
    background-color: rgba(204, 168, 78, .7);/* Gecko Browsers */
}

.logo
{
    width: 13rem;
    height: auto;
    margin: 2em 3em 1em 4em;
}

.nav-options
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;

    float: right;

    margin-top: 1.7em;
    margin-right: 2.5em;
}

.nav-option
{
    margin-left: 1.3em;

    cursor: pointer;
    transition: border-bottom 200ms ease-in-out;
}

.nav-option:hover
{
    border-bottom: .10em solid #fff;
}

.modal
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.4);
}

.modal-content
{
    position: relative;

    width: 30%;
    margin: 15% auto;
    padding: 4em;

    border-radius: 3px;
    background-color: rgba(63, 79, 119, 1);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
}

.close
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    font-weight: bold;

    position: absolute;
    top: .2rem;
    left: 1rem;

    float: left;

    transition: color 200ms ease-in-out;

    color: rgba(90, 175, 154, 1);
}

.close:hover,
.close:focus
{
    cursor: pointer;
    text-decoration: none;

    color: rgba(90, 175, 154, .6);
}

/* Index page */

.content--index
{
    margin: 0 50px;
}

.left-pane
{
    float: left;

    width: 50%;
}

.right-pane
{
    position: relative;

    float: right;

    width: 40%;
}

.intro-text
{
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;

    margin-left: 1em;

    color: white;
}

.intro-sub-text
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;

    position: relative;
    right: 1em;
    bottom: 3.1em;

    float: right;

    padding: .1em .4em .1em .4em;

    transition: background-color 200ms ease-in-out;

    color: #fff;
    border: .0625em solid #fff;
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, .2);
}

.intro-sub-text:hover
{
    background-color: rgba(255, 255, 255, .4);
}

.intro-video
{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;

    color: white;
    border-bottom: .08em solid #fff;
}

iframe
{
    position: absolute;

    width: 100%;
    height: 180%;

    border: .1rem solid rgba(145, 92, 129, 1);
}

/* Training page */

.content--training
{
    margin: 40px 30px 0 30px;

    border-radius: .3rem;
    background-color: rgba(96, 104, 127, .7);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

#registration
{
    padding-bottom: 88rem;
}

.title
{
    font-family: 'Indie Flower', serif;
    font-size: 5rem;
    font-style: italic;

    margin: .2em 1em 0 1em;
    padding-top: 3rem;

    color: #fff;
    border-bottom: .13rem solid #fff;
}

.left-pane--training
{
    float: left;

    width: 20%;
    margin-left: 7rem;
}

.right-pane--training
{
    float: right;

    width: 60%;
    margin-right: 5rem;
}

.options
{
    display: inline-block;

    margin-top: 4rem;
}

.track-options
{
    display: inline;
}

.track-option--desc
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.7rem;

    position: relative;
    right: 1.5rem;
    bottom: 1rem;

    display: block;

    width: 10em;
    height: 5rem;
    margin-bottom: 1rem;

    text-align: center;

    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgba(63, 79, 119, .6);
}

.number
{
    position: relative;
    top: .7rem;
    right: .8rem;

    display: inline-block;

    width: 20%;
    height: auto;
}

.number-desc
{
    position: relative;
    bottom: .6rem;

    display: inline;
}

.track-option
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;

    display: block;

    width: 7em;
    margin-top: -.2rem;

    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    color: rgba(63, 79, 119, 1);
    border: none;
    border-bottom: 4px solid rgba(90, 175, 154, 1);
    border-radius: 3px;
    background-color: rgba(204, 168, 78, .9);
}

.track-option:hover
{
    background-color: rgba(204, 168, 78, .7);
}

.track-option-last
{
    border-bottom: none;
}

.course-option--desc
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;

    position: relative;
    top: 2rem;
    right: 1rem;

    display: block;

    width: 102%;
    height: 5rem;
    margin-top: 1rem;

    text-align: left;

    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgba(63, 79, 119, .6);
}

.number--course
{
    position: relative;
    top: 1.1rem;
    left: 1.3rem;

    display: inline-block;

    width: 5%;
    height: auto;
}

.number-desc--course
{
    position: relative;
    top: .1rem;
    left: 2rem;

    display: inline;
}

.courses
{
    display: none;

    margin: 4rem 1rem 0 0;

    border: 1px solid rgba(63, 79, 119, 1);
    border-radius: 3px;
    background-color: rgba(63, 79, 119, .1);
}

.levels
{
    display: inline-block;

    width: 100%;

    text-align: center;
}

.levels li
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;

    display: inline-block;

    margin-right: -.3rem;
    padding: .5em .8em;

    cursor: pointer;
    transition: all 200ms ease-in-out;

    color: white;
    border: .0625rem solid rgba(63, 79, 119, 1);
}

.levels .level-1
{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.levels .level-last
{
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.levels li:hover
{
    transition: background-color 200ms ease-in-out;

    background-color: rgba(63, 79, 119, .6);
}

.levels .active
{
    transition: background-color 200ms ease-in-out;

    background-color: rgba(63, 79, 119, 1);
}

.course-options
{
    display: flex;
    flex-direction: column;
}

.intro,
.intermediate,
.expert
{
    display: flex;
    flex-direction: row;
}

.course
{
    font-family: 'Titillium Web', sans-serif;

    position: relative;

    margin: 0 2rem 1rem 0;
    padding: .3em 4em .3em 4em;

    list-style-type: none;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    color: rgba(63, 79, 119, 1);
    border-radius: 3px;
    background-color: rgba(204, 168, 78, .9);
}

.course:hover
{
    background-color: rgba(204, 168, 78, .7);
}

.course-title
{
    position: absolute;
    top: -26px;
    left: 10px;
}

.course-part
{
    font-size: 1.9rem;
    font-weight: bold;
}

.sign-up-option--desc
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;

    position: relative;
    top: 2rem;

    display: block;

    width: 98%;
    height: 5rem;
    margin-top: 1rem;

    text-align: left;

    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgba(63, 79, 119, .6);
}

.course-signup
{
    display: none;

    margin: 4rem 2rem 0rem 1rem;
    padding-bottom: 4rem;

    border: 1px solid rgba(63, 79, 119, 1);
    border-radius: 3px;
    background-color: rgba(63, 79, 119, .2);
}

#course-name
{
    font-family: 'Ubuntu', serif;
    font-size: 4rem;

    margin: 1rem 1rem 0 3rem;

    color: white;
}

#course-description
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;

    margin: 3rem 1rem 0 4rem;
    padding-bottom: 2em;

    list-style-type: square;

    color: white;
}

.action-button
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;

    float: right;

    margin-top: -.6rem;
    margin-right: 1rem;
    padding: .6em 2em .6em 2em;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    color: rgba(63, 79, 119, 1);
    border: none;
    border-radius: 3px;
    background-color: rgba(204, 168, 78, .9);
}

.action-button:hover
{
    background-color: rgba(204, 168, 78, .7);
}


/* Misc classes for input */

/* All input fields on the card */

input
{
    font: inherit;

    margin: 0;

    color: inherit;
}

.input-field
{
    position: relative;

    margin-top: 1rem;
}

input[type=text],
input[type=password]
{
    font-family: 'Titillium Web', sans-serif;

    box-sizing: content-box;
    width: 100%;
    height: 3rem;
    margin: 0 0 .9375em 0;
    padding: 0;

    transition: all .3s;

    color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=password].valid,
input[type=password]:focus.valid
{
    border-bottom: 1px solid rgba(90, 175, 154, 1);
}

input[type=text]:disabled,
input[type=text][readonly='readonly']
{
    color: rgba(0,0,0,.26);
    border-bottom: 1px dotted rgba(0,0,0,.26);
}

input[type=text].validate + label
{
    width: 100%;

    pointer-events: none;
}

input[type=text] + label
{
    font-family: 'Titillium Web', sans-serif;
}

input[type=text]:disabled + label,
input[type=text][readonly='readonly'] + label,
input[type=password]:disabled + label,
input[type=password][readonly='readonly'] + label
{
    color: rgba(0,0,0,.26);
}

input[type=text] + label:after
{
    position: absolute;
    top: 65px;

    display: block;content: '';
    transition: .2s opacity ease-out, .2s color ease-out;

    opacity: 0;
}

.input-field label
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;

    position: absolute;
    top: .8rem;
    left: .75rem;

    cursor: text;
    transition: .2s ease-out;

    color: #fff;
}

.input-field label.active
{
    font-size: .8rem;
}

input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after
{
    content: attr(data-success);

    opacity: 1;
    color: #aa473c;
}

input[type=password].validate + label
{
    width: 100%;

    pointer-events: none;
}

input[type=password] + label:after
{
    position: absolute;top: 65px;

    display: block;

    content: '';
    transition: .2s opacity ease-out, .2s color ease-out;

    opacity: 0;
}

input[type=submit]
{
    font-style: normal;
    line-height: 2.25em;

    display: inline-block;

    height: 2.25em;
    padding: 0 2em;

    cursor: pointer;
    transition: .2s ease-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .5px;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 2px;
    outline: 0;
    background-color: #aa473c;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);

    -webkit-tap-highlight-color: transparent;
}
