body
{
    margin: 0rem;
}

header
{
    background-color: #455a64;
}

.logo {

}

ul.menu-options
{
    display: inline-block;

    list-style-type: none;

    color: #fff;
}

li
{
    font-size: 1rem
    text-align: center;

    display: inline-block;

    margin: .1em;
    padding: 1em;

    border: .0625em solid white;
}
